* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;

}

:root {
    --primary: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lt-gray: hsl(217, 12%, 63%);
    --md-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    width: 375px;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
}

/*.hidden {
    display: none;
}*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    background-color: var(--dark-blue);
    max-width: 325px;
    height: auto;
    padding: 25px 30px 30px 35px;
    border-radius: 20px;
}

.thanks-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.star-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(213, 17%, 27%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

h1 {
    padding-bottom: 20px;
    padding-top: 20px;
    color: var(--white);
    font-size: 1.5em;
}

p {
    color: var(--md-gray);
    line-height: 1.5em;
}

.selected {
    transition: all 0.5s;
    background-color: var(--primary);
    color: white;
}

.rating {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;

}

.ratingItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ratingButton {
    background-color: hsl(213, 19%, 23%);
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(217, 12%, 63%);
}

.ratingButton:hover {
    transition: all 0.5s;
    background-color: var(--lt-gray);
    color: hsl(0, 0%, 100%)
}

/*input:hover {
    background-color: var(--primary);
    color: hsl(0, 0%, 100%);
}*/



/*.ratingButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 17%, 27%);
    color: var(--lt-gray);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.ratingButton:hover {
    background-color: var(--md-gray);
}

.ratingButton:active {
    background-color: var(--primary);
}*/

#button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submit {
    width: 275px;
    height: 40px;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    margin-top: 22px;
}

.submit:hover {
    background-color: var(--white);
    color: var(--primary);
}

#footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.thanks-svg {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}

#thanks {
    text-align: center;
}

#thanks-p {
    text-align: center;
    max-width: 260px;
}

.thanks-string {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rating-string {
    text-align: center;
    background-color: var(--md-gray);
    color: var(--primary);
    height: 30px;
    width: 170px;
    border-radius: 20px;
    padding-bottom: none;
    padding-top: 5px;
}