* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;

}

:root {
    --primary: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lt-gray: hsl(217, 12%, 63%);
    --md-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    width: 375px;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    background-color: var(--dark-blue);
    max-width: 325px;
    height: auto;
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 25px;
    border-radius: 20px;
}

.thanks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.thanks-box {
    background-color: var(--dark-blue);
    max-width: 325px;
    height: auto;
    padding-bottom: 30px;
    padding-top: 25px;
    border-radius: 20px;
}


.star-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(213, 17%, 27%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

h1 {
    padding-bottom: 20px;
    padding-top: 20px;
    color: var(--white);
    font-size: 1.5em;
}

p {
    padding-bottom: 30px;
    color: var(--md-gray);
    line-height: 1.5em;
}

.rating {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;

}

.ratingButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 17%, 27%);
    color: var(--lt-gray);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.rating-button:hover {
    background-color: var(--md-gray);
}

.rating-button:active {
    background-color: var(--primary);
}

#button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submit {
    width: 275px;
    height: 40px;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
}

.submit:hover {
    background-color: var(--white);
    color: var(--primary);
}

#footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.thanks-svg {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}

#thanks {
    text-align: center;
}

#thanks-p {
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
}

.thanks-string {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rating-string {
    text-align: center;
    background-color: var(--md-gray);
    color: var(--primary);
    height: 30px;
    width: 170px;
    border-radius: 20px;
}